<div class="container">
  <div class="card m-2 shadow p-3 rounded-lg " style="width: 18rem; ">
    <div class="card-body p-1">
      <h4 class="card-title"><%= @restaurant.name %></h4>
      <h6 class="card-text"><%= @restaurant.address %></h5>
      <p class="card-text"><%= @restaurant.phone_number %></p>
      <p class="card-subtitle"><%= @restaurant.category %></p>
      <p>
        <% @restaurant.reviews.each do |review| %>
        <%= review.rating %>
        <% end %>
      </p>

    </div>
  </div>
   <%= link_to "add a review", new_restaurant_review_path(@restaurant) %>
</div>
